.Chat-main
  .Chat-main__group-info
    .group-info
      .group-name
        = @group.name
      .group-menber
        %ul 
          Menber:
          %li<
            yuki
    .edit-btn
      = link_to "edit",class: "underline" do
        Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    .form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .input-container
          = f.text_field :content, class: 'input-text', placeholder: 'type a message'
          = f.label :image, class: 'input-image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'input-file'
        = f.submit 'Send', class: 'submit-btn'
